app:
    env: "local"
    http_server:
        host: ""
        port: 8082
        read_timeout: 60s
        write_timeout: 60s
    swagger:
        description: "API Documentation of ordersvc"
        host: "localhost"
        port: 8082
        oauth2_password_token_url: "http://localhost:8081/api/oauth2"
    psql:
        name: "carrentdb"
        host: "postgresql"
        port: 5432
        user_name: "dev"
        password: "12345678"
        ssl_mode: "disable"
        max_open_connection: 5
        max_idle_connection: 5
        max_lifetime: 5
        debug_mode: true
        migration_path: "file://migrations"
    redis:
        url: "redis:6379"
        password: ""
        user_name: ""
        pool_size: 10
        max_retries: 3
    grpc:
        host: ""
        port: 9091
        server_cert: "./script/cred/server_cert.pem"
        server_key: "./script/cred/server_key.pem"
        client_cert: "./script/cred/ca_cert.pem"
        client_host: "ordersvc.localhost"
rest:
    token_secret: ""
    integ_token: ""
domain:
    car:
        page_limit: 10
        expiration_time: 30s
    order:
        page_limit: 10
        expiration_time: 30s
